:root {
  --correct-char-color: var(--vscode-editor-foreground);
  --incorrect-char-color: var(--vscode-editorError-foreground);
  --excess-char-color: var(--vscode-editorError-foreground);
  --blank-char-color: var(--vscode-editor-foreground);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--vscode-editor-font-family);
  font-size: calc(var(--vscode-editor-font-size) * 1.8);

  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  max-width: 75%;
}

/* div:focus {
  font-weight: bold;
} */

#user-text {
  opacity: 0;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#start-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#results {
  width: 50%;
}


#results table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 2em;
  table-layout: fixed;
}

#results table td.value {
  text-align: right;
  padding-right: 0.5rem;
  width: 50%;
}

#results table td.unit {
  text-align: left;
  padding-left: 0.5rem;
  width: 50%;
}

#results .primary-result {
  font-weight: bold;
  /* font-size: 1.1em; */
}

.char.cursor {
  border-left: 0.05em solid var(--correct-char-color);
}

.char.correct {
  color: var(--correct-char-color);
}

.char.incorrect {
  color: var(--incorrect-char-color);
}

.char.blank {
  color: var(--blank-char-color);
  opacity: 0.5;
}

.char.excess {
  color: var(--excess-char-color);
  opacity: 0.7;
}

#input-wrapper {
  padding-bottom: 1em;
}

#test-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

button.btn-minimal {
  border: none;
  color: var(--vscode-editor-foreground);
  opacity: 0.5;
}

button.btn-minimal:hover {
  opacity: 1;
}

button.btn-minimal:active {
  opacity: 0.5;
}

.tooltip {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
}

.hidden {
  display: none !important;
}
