:root {
  --correct-char-color: var(--vscode-editor-foreground);
  --incorrect-char-color: rgb(225, 0, 0);
  --excess-char-color: rgb(225, 0, 0);
  --blank-char-color: var(--vscode-editor-foreground);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--vscode-editor-font-family);
  font-size: calc(var(--vscode-editor-font-size) * 1.8);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 75%;
}

/* div:focus {
  font-weight: bold;
} */

#user-text {
  opacity: 0;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#start-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#results .primary-result {
  font-weight: bold;
  /* font-size: 1.1em; */
}

#results table {
  width: 100%;
  border-collapse: collapse;
}

#results table td.value {
  text-align: right;
  padding-right: 1rem;
}

#results table td.unit {
  text-align: left;
}

.char.cursor {
  border-left: 0.05em solid var(--correct-char-color);
}

.char.correct {
  color: var(--correct-char-color);
}

.char.incorrect {
  color: var(--incorrect-char-color);
}

.char.blank {
  color: var(--blank-char-color);
  opacity: 0.5;
}

.char.excess {
  color: var(--excess-char-color);
  opacity: 0.7;
}

.hidden {
  display: none;
}
