:root {
  --correct-char-color: black;
  --incorrect-char-color: red;
  --excess-char-color: darkred;
  --blank-char-color: gray;
}

html,
body {
  margin: 0;
  height: 100%;
  /* pointer-events: none; */
  font-family: monospace;
  font-size: 1.2em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  max-width: 75%;
}

/* div:focus { */
/*   font-weight: bold; */
/* } */

#user-text {
  opacity: 0;
  position: absolute;
}

#results .primary-result {
  font-weight: bold;
  /* font-size: 1.1em; */
}

#results table {
  width: 100%;
  /* border: 1px solid black; */
  border-collapse: collapse;
  margin-bottom: 2em;
}

#results table td.value {
  text-align: right;
  padding-right: 1rem;
  width: 50%;
}

#results table td.unit {
  text-align: left;
  width: 50%;
}

.char.cursor {
  border-left: 0.05em solid black;
}

.char.correct {
  color: var(--correct-char-color);
}

.char.incorrect {
  color: var(--incorrect-char-color);
}

.char.blank {
  color: var(--blank-char-color);
}

.char.excess {
  color: var(--excess-char-color);
}

#input-wrapper {
  padding-bottom: 1em;
}

#test-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

button.btn-minimal {
  border: none;
  color: var(--blank-char-color);
}

button.btn-minimal:hover {
  color: var(--correct-char-color);
}

button.btn-minimal:active {
  color: var(--blank-char-color) !important;
}

.hidden {
  display: none;
}
